@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(207, 207, 207);
    font-family: Lexend;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  margin-top:10px;
  min-height: 400px;
}

hr{
  border-color:rgb(117, 117, 117);
}

.marg-0-important{
  margin: 0px !important;
}

.marg-top-20{
  margin-top:20px;
}

.marg-top-40{
  margin-top:40px;
}

.marg-bot-20{
  margin-bottom:20px;
}

.marg-bot-40{
  margin-bottom:40px;
}

.pad-35{
  padding:35px;
}

.shadow{
  box-shadow: 0.8px 1.6px 7px hsl(0deg 0% 0% / 0.48) !important;
}

input:not(.is-invalid):not(input[type=submit]){
  border-color: #888888 !important;
}

textarea{
  border-color: #888888 !important;
}

.navbar{
  background-color:rgb(91, 15, 136);
}

.my-card{
  background:white;
  border-radius:5px;
  margin:0px 0px 0px 0px;
  padding:30px;
}

.cart-quantity-btn{
  border: none;
  background: none;
  border-radius: 5px;
  vertical-align: center;
  width:30px;
  height: 30px;
  margin:0px;
  padding:0px;
  text-align:center;
  font-size: 16px;
  display:inline;
}